<!-- restaurant/templates/restaurant/main.html -->
 {% extends 'restaurant/base.html' %}

 {% block content %}
        <h1>Panda Express</h1>
        <p>Location: 775 Commonwealth Ave, Boston, MA 02215-1401</p>
        <p>Hours:</p>
        <table>
            <tr>
                <th>Day</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>Mon</td>
                <td>11 AM - 8 PM</td>
            </tr>
            <tr>
                <td>Tue</td>
                <td>11 AM - 8 PM</td>
            </tr>
            <tr>
                <td>Wed</td>
                <td>11 AM - 8 PM</td>
            </tr>
            <tr>
                <td>Thur</td>
                <td>11 AM - 8 PM</td>
            </tr>
            <tr>
                <td>Fri</td>
                <td>11 AM - 8 PM</td>
            </tr>
            <tr>
                <td>Sat</td>
                <td>11 AM - 8 PM</td>
            </tr>
            <tr>
                <td>Sun</td>
                <td>11 AM - 8 PM</td>
            </tr>
        </table>
        <img src="https://www.bu.edu/dining/files/2017/12/PandaExpress_WebBanner-768x720.jpg" alt="Panda Express Shopfront">
{% endblock %}
