<!-- templates/show_profile.html -->
{% extends 'mini_fb/base.html' %}
<h1>{{profile.fname}} {{ profile.lname }} </h1>
{% block content %}
<main class="grid-container">
    
    <profile class="featured">
        {% if profile.image_url %}
        <img src="{{ profile.image_url }}" alt="{{ p.fname }} {{ p.lname }}" style="width:150px; height:150px; object-fit:cover;">
        {% endif %}
        
        <div>
        <h2>{{profile.fname}} {{ profile.lname }}</h2>
        <p>
        {{profile.email}}
        </p>
        <p>
        {{profile.city}}
        </p>
        {% if request.user.is_authenticated %}
            <h3><a href="{% url 'create_status' profile.pk %}">Create a status message</a></h3>
            <h3><a href="{% url 'update_profile' profile.pk %}">Update profile</a></h3>
            <h3><a href="{% url 'friend_suggestions' profile.pk %}">View Friend Suggestions</a></h3>
            <h3><a href="{% url 'news_feed' profile.pk %}">View News Feed</a></h3>
        {% endif %}
        </div>
    </profile>

    <div>
        <h2>Status Messages:</h2>
        <!-- Comments:
        {{article.get_comments}} -->
        {% for s in profile.get_status_messages %}
        <profile>
            <div>
            <strong>At {{s.timestamp}}</strong> {% if request.user.is_authenticated %} <a href="{% url 'delete_status' s.pk %}">Delete</a>  <a href="{% url 'update_status' s.pk %}">Update</a> {% endif %}
            <p> {{s.message}} </p>
            {% with images=s.get_images %}
                {% if images %}
                    {% for img in images %}
                        <img src="{{ img.image_file.url }}" alt="Image associated with status"  style="width:150px; height:150px; object-fit:cover;"/>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </profile>
        {% endfor %}
    </div>

    <div>
        <h2>Friends:</h2>
        {% if profile.get_friends %}
            <ul>
                {% for f in profile.get_friends %}
                    <li>
                        <img src="{{ f.image_url }}" alt="Image associated with friend"  style="width:150px; height:150px; object-fit:cover;"/><br>
                        <a href="{% url 'profile' f.pk %}">{{ f.fname }} {{ f.lname }}</a><br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    
</main>
{% endblock %}