<!-- templates/mini_fb/show_all.html -->
{% extends 'mini_fb/base.html' %}
<h1>Showing all Profiles</h1>
<!-- scriptlet code to display the value of the variable `profiles` 
{{ profiles }}
-->
{% block content %}
<main class="grid-container">
    {% for p in profiles %}
    <article>
        {% if p.image_url %}
        <img src="{{p.image_url}}" alt="{{p.image_url}}">
        {% endif %}
        <div>
        <strong>{{p.fname}} {{p.lname}}</strong> is from {{p.city}}.
        <p>
        {{p.email}}
        </p>
        </div>
    </article>
    {% endfor %}
</main>
{% endblock %}